{% extends '_base.html' %}

{% block content %}
<div class="container">
  <main>
    <div class="py-5 text-center">
      <h1 class="h2">Phone Checker</h1>
      <p class="lead">Enter your phone number in the form below. Only supported RU (+7) numbers.</p>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Tips</span>
          <span class="badge bg-primary rounded-pill">3</span>
        </h4>

        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Second product</h6>
              <small class="text-body-secondary">Brief description</small>
            </div>
            <span class="text-body-secondary">$8</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Third item</h6>
              <small class="text-body-secondary">Brief description</small>
            </div>
            <span class="text-body-secondary">$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">−$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>$20</strong>
          </li>
        </ul>

        <form class="card p-2">
          {% csrf_token %}
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </form>
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Phon Checker Form</h4>
        <form class="phone-checker-form" novalidate="">
          <div class="row g-3">

            <div class="col-12">
              <label for="username" class="form-label">Phone Number</label>
              <div class="input-group has-validation">
                <span class="input-group-text">+</span>
                <input type="tel" class="form-control" id="phone-input" placeholder="79998887766" required="">
                <div class="invalid-feedback">Number is required.</div>
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email <span class="text-body-secondary">(Optional)</span></label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">You can enter your email and we can notify you about updates.</div>
            </div>

          <hr class="my-4">

          <div class="container">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="same-address">
              <label class="form-check-label" for="same-address" required="">I agree with terms and conditions.</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="save-info">
              <label class="form-check-label" for="save-info" required="">I'm not a robot, trust me.</label>
            </div>
            </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Checkout</button>
        </form>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-body-secondary text-center text-small">
    <p class="mb-1">© 2000–2025 moysha_dev</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>

<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
document
  .getElementById("phoneForm")
  .addEventListener("submit", async function (e) {
    e.preventDefault();
    const phone = document.getElementById("phoneInput").value;
    const email = document.getElementById("emailInput").value;
    const responseDiv = document.getElementById("response");
    responseDiv.innerHTML = "Загрузка...";

    try {
      const res = await fetch("/api/phone/search?phone=" + phone, "POST", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrftoken,
        },
        mode: "same-origin",
        body: JSON.stringify({ phone: phone, email: email }),
      });

      const data = await res.json();

      if (res.ok) {
        responseDiv.innerHTML = `
                    <b>Номер найден:</b> ${data.exists ? "Да" : "Нет"}<br>
                    <b>Оператор:</b> ${data.operator}<br>
                    <b>Регион:</b> ${data.region}
                `;
      } else {
        if (data.phone) {
          responseDiv.innerHTML = `<span class="error">${data.phone.join("<br>")}</span>`;
        } else {
          responseDiv.innerHTML =
            '<span class="error">Неизвестная ошибка</span>';
        }
      }
    } catch (err) {
      responseDiv.innerHTML = `<span class="error">Ошибка запроса: ${err.message}</span>`;
    }
  });
</script>
{% endblock %}




