{% extends '_base.html' %}

{% block content %}
<div class="container">
  <main>
    <div class="py-5 text-center">
      <h1 class="h2">Phone Checker</h1>
      <p class="lead">Enter your phone number in the form below. Only supported RU (+7) numbers.</p>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Server Info</span>
          <span class="badge bg-primary rounded-pill">0</span>
        </h4>

        <ul id="infoList" class="list-group mb-3" >
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Updated:</h6>
            </div>
            <span class="text-body-secondary">{{ last_updated_timestamp }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Status:</h6>
            </div>
            <span class="text-body-secondary">{{ server_status }}</span>
          </li>
        </ul>

        <form id="update-database-form" class="card p-2">
          {% csrf_token %}
          <div class="input-group">
            <input type="text" class="form-control" placeholder="x-dev-token">
            <button type="submit" class="btn btn-secondary">Request</button>
          </div>
        </form>
      </div>

      <div class="col-md-7 col-lg-8">

      <h4 class="mb-3">Phon Checker Form</h4>
<!---->
        <form id="phoneCheckerForm" novalidate>
          {% csrf_token %}
          <div class="row g-3">

            <div class="col-12">
              <label for="phoneInput" class="form-label">Phone Number</label>
              <div class="input-group has-validation">
                <input type="tel" class="form-control" id="phoneInput" placeholder="+79998887766" required>
                <div class="invalid-feedback">Number is required.</div>
              </div>
            </div>

            <div class="col-12">
              <label for="emailInput" class="form-label">Email <span class="text-body-secondary">(Optional)</span></label>
              <input type="email" class="form-control" id="emailInput" placeholder="you@example.com">
              <div class="invalid-feedback">You can enter your email and we can notify you about updates.</div>
            </div>

          <hr class="my-4">

          <div class="container">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="terms-input" required>
              <label class="form-check-label" for="terms-input">I agree with terms and conditions.</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="protection-input" required>
              <label class="form-check-label" for="protection-input">I'm not a robot, trust me.</label>
            </div>
            </div>

          <hr class="my-4">

          <button id="submitBtn" class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
        </form>
<!---->

      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-body-secondary text-center text-small">
    <p class="mb-1">© 2025–2025 moysha_dev</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>

<script>
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

  const form = document.getElementById("phoneCheckerForm");
  const phoneInput = document.getElementById("phoneInput");
  const emailInput = document.getElementById("emailInput");
  const submitBtn = document.getElementById("submitBtn");

  class API {
    static async checkPhone(email, phone) {
      const headers = { "x-csrftoken": csrftoken };
      const body = { ...email, ...phone };
      console.log(body)
      return await fetch("/api/phone/search", "POST", { headers, body, signal: AbortSignal.timeout(5000) })
        .then((res) => res.json())
        .catch((err) => null);
    }
  }

  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    const validator = form.checkValidity();
    form.reportValidity();
    if (!validator) return;

    submitBtn.disabled = true;

    await API.checkPhone(emailInput.value, phoneInput.value)
      .finally(() => {
        submitBtn.disabled = false;     
      });
  })
</script>
{% endblock %}
